<html>
<head>
<title>othello</title>
<script>
(function(){

 var piece;
 var showBoard = function(){
  var b = document.getElementById("board");
  while(b.firstChild){
    b.removeChild(b.firstChild);
  };
  for(var y=1; y<=8; y++){
  for(var x=1; x<=8; x++){
    var c = piece[board[x][y]].cloneNode(true);
    c.style.left = ((x-1) * 32)+"px";
    c.style.top = ((y-1) * 32)+"px";
    b.appendChild(c);
  }
  }
};


var board =[];
onload = function(){
  piece = [document.getElementById("cell")];
  for(var i = 0; i<10; i++){
    board[i]=[];
    for(var j=0; j<10; j++){
      board[i][j] = 0;
    }
  }

  showBoard();
};

})();

</script>

</head>

<body>
<div style="display:none">
<div id="cell" style="position:absolute;width:33px;height:33px;background-color:#000">
  <div style="position:relative;top:1px;left:1px;width:31px;height:31px;background-color:#00ee00">
  </div>
</div>
<div id="black" style="position:absolute;width:33px;height:33px;background-color:#000">
  <img style="display:block;position:relative;top:1px;left:1px;width:31px;height:31px;"src="<%= asset_path "osero-black.png" %>"/>
</div>
<div id="white" style="position:absolute;width:33px;height:33px;background-color:#000">
  <img style="display:block;position:relative;top:1px;left:1px;width:31px;height:31px;"src="<%= asset_path "osero-white.png" %>"/>
</div>
</div>

<div id="board" style="position:relative">
test
</div>

</body>
</html>
